.buy-now-button {
    width: 100%;
    height: 40px;
    background-color: var(--orange);
    color: var(--darkPurple);
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buy-now-button .icon {
    margin-right: 10px;
    color: var(--darkPurple); 
  }
  
  .buy-now-button:hover {
    background-color: #ffa43c; /* Manually chosen darker shade of orange */
  }
  
  .buy-now-button.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .buy-now-placeholder {
    height: 40px; /* Should match the height of your button */
  }

  .sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.5s ease;  /* Transition effect */
  }
  
  .sticky.visible {
    opacity: 1;  /* Fully visible */
  }
  
  .sticky.hidden {
    opacity: 0;  /* Fully transparent */
  }