
/*background-color: var(--primary-color);*/
:root {
    --darkPurple: #1f1949;
    --orange: #f8b912;
    --white: rgb(167, 167, 167);
    --error-color: #e74c3c;
    --text-color: #333;
    --borderColor: rgb(206, 206, 206);
    /* add more colors */
  }