
/*background-color: var(--primary-color);*/
:root {
  
    --pinkBlue: #f3f3fe;
    --darkPurple: #1f1949;
    --orange: #f8b912;
    --white: rgb(167, 167, 167);
    --error-color: #e74c3c;
    --text-color: #333;
    --lighter-blue: #eef1ff;
    --lightBlue: #88d2f7;
    --dark-blue: #0596d4;
    /* add more colors */
  }