.outer{
  margin-top: 40px;
  margin-bottom: 40px;
min-height: 400px;

}

.emptyBasket{
  margin-top: 100px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;

}

.checkout {
  background-color: var(--pinkBlue);
  border: 1px solid var(--darkPurple);
  border-radius: 3px;
    font-family: sans-serif;
    width: 80%;
    min-width: 350px;
    max-width: 800px;
    overflow: auto;
  }
  
 
  hr {
    opacity: 1;
    background-color:white; /* Use background-color instead of color */
    height: 2px;  /* Increased height for thickness */
    border: none; /* Remove default border */
    margin: 0;
  }
  
 



.delsum {
  display: flex;
  justify-content: space-between;  /* This will space the elements to the ends */
  padding: 20px;
  font-size: 20px;
}

  
  .frakt {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 15px;
    padding: 10px;
  }
  
  
 .sjekkut {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */

  }
  
  button {
    background-color: var(--orange);
    color: black;
    border: none;
    margin: 10px;
    padding: 20px;
    width: 100%;
  }
  