.outerContainer
{
    background-color: var(--pinkBlue);
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

    
    min-width: 350px;
    max-width: 1000px;

}

.custom-hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.disabled-section {
    opacity: 0.4; /* Adjust this value as per your preference */
    pointer-events: none; /* Ensures that the section is not interactable */
  }
  

