/* Delivery.css */


.container {
  max-width: 100%;
  /* margin: auto; */
  /* padding: 20px; */
}


.input-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input-row-full input {
  width: 100% !important; 
  border-radius: 5px;
  border: 1px solid grey;
}

.input-row input {
  width: calc(50% - 10px); /* Adjust for 10px margin */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.input-row input:last-child {
  margin-right: 0; /* Remove margin for the last input element */
}


.button-container {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  padding-left: 5px;
}


.error input {
  border-color: red;
}

.checkbox-row {
  display: flex;
  align-items: top;
}

.checkbox-row input[type="checkbox"] {
  margin-right: 10px;  /* Adjust the value as needed */
  margin-left: 3px; 
}