.payment-form {
    width: 100%;
  }
  .header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Optional: this centers the items vertically if they have different heights */
    margin: 0;
    padding: 0;
}

.header-row h6 {
  margin-right: auto;  /* Optional: ensures the h6 is pushed to the far left if there are more elements */
}
.header-row img {
    max-width: 100%; /* Ensure it doesn't grow larger than its container */
    height: auto;    /* Maintain aspect ratio */
    margin: 0;
    padding: 0;
}

  .form-group {
    margin-bottom: 5px;
  }
  
  .StripeElement{
    background-color: white;
    width: 100%;
    border: 1px solid var(--darkPurple);
    border-radius: 5px;
    font-size: 35px;
    line-height: 40px;  /* Add this line */
    padding: 7px;
    /* height: 50px; */
  }

  /* .StripeElement {
    border: 1px solid var(--darkPurple);
    padding: 10px;
  } */
  
  .StripeElement--invalid {
    border: 1px solid red;
  }
  
  /* Add any other custom styles here */
  
  .payNowButton
  {
border-radius: 5px;
  }

/* 
  .floating-label {
    position: relative;
  }
  
  .floating-label input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    padding-top: 20px;  
  }
  
  .floating-label label {
    position: absolute;
   
    font-size: 16px;
    color: #aaa;
    transition: 0.3s ease;
    pointer-events: none;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  
  }
  
  .floating-label input:valid + label,
  .floating-label input:focus + label {
    font-size: 12px;
    color: #aaa;
    margin-left: 10px;
  } */