@font-face {
   font-family: 'Montserrat';
   src: url('/assets/fonts/montserrat_n5.woff2') format('woff2');
   font-weight: 500; /* n5 usually means 500 weight */
   font-style: normal;
}

body{
   font-family: 'Montserrat', sans-serif; 
   background-color: rgb(167, 167, 167);
    }

      


.mainContent{
padding-left: 7px;
padding-right: 7px;
min-width: 300px;
max-width: 700px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;

}

.mainContent p{
   font-size: 12px;
    
    }